@import "https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display&display=swap";

h1 {
    font-family: Libre Baskerville, serif;
}

html, body {
    font-family: Playfair Display, serif;
}

.hover\:glow {
    transition: filter .15s;
}

.hover\:glow:hover {
    filter: drop-shadow(0 0 3px #ffe59f93);
}