.home #nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home #banner {
    width: 100%;
    height: calc(max(120px, min(200px, 30vh)));

    background: url("assets/streetview.jpg");
    background-size: cover;
    background-position: center;
}