@import "https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display&display=swap";

:root {
    font-family: Playfair Display, Times, serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}  

h1 {
    font-family: Libre Baskerville, Times, serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    color: #ffe59f93;
}

.hover\:glow {
    transition: filter 300ms;
    will-change: filter;
}

.hover\:glow:hover {
    filter: drop-shadow(0 0 3px #ffe59f93);
}

.flex\:row {
    display: flex;
    flex-direction: row;
}

.flex\:column {
    display: flex;
    flex-direction: column;
}