.logo-container {
    height: 5.5em;
}

.logo-container h1 {
    font-size: 1.8em;
    text-wrap: nowrap;
    white-space: nowrap;
}

.logo-container h2 {
    font-size: 0.8em;
}

.logo-container h1,
.logo-container h2 {
    margin: 0;
}

.logo-container:hover * {
    color: whitesmoke;
}

.logo {
    height: 100%;
    padding: 0 1em 0 0;
    transform: translateY(-10%);
}

@media (max-width: 800px) {
    .logo-container {
        height: 3.5em;
    }
}