/* Light Theme Defaults */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 5.5rem;

    cursor: pointer;
}

.logo #picture {
    background: url("assets/logo_light.png");
    background-size: cover;

    aspect-ratio: 1 / 1;
    height: 100%;

    transform: translateY(-0.5rem);
    margin-right: 0.5rem;

    transition: filter 0.15s;
}

.logo #text {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.logo #subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 0.8rem;
}

.logo #title {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.8rem;
}

.logo:hover #picture {
    filter: drop-shadow(0 0 3px #ffe59f93)
}

/* Dark Theme Overrides */
@media (prefers-color-scheme: dark) {
    .logo #picture {
        background: url("assets/logo_dark.png");
        background-size: cover;
    }
}