.menu-items {
    display: flex;
    flex-direction: row;
}

.menu-items > * {
    padding: 10px calc(max(5px, min(20px, 1.5vw)));
    font-size: 18px;
}

.menu-toggle,
.menu-hamburger {
    display: none;
}

/* Hamburger menu */
@media (max-width: 800px) {
    .menu-hamburger {
        display: initial;
    }

    .menu-items {
        background: rgb(22, 22, 22, 0.9);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        overflow: hidden;
        z-index: 100;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0;
        left: 0;
        margin-top: 5.5em;
        width: 100%;

        height: 0;                  /* Hide the menu by default */
        opacity: 0;

        transition: height 500ms ease, opacity 650ms ease;
    }

    .menu-items > * {               /* Change formatting of menu items (bigger) */
        font-size: xx-large;
        transform: translateY(-50%);
    }

    .menu-toggle:checked ~ .menu-items {
        height: calc(100% - 5.5em); /* Show the menu when toggled */
        opacity: 1;
    }

    .menu-toggle:checked ~ .menu-hamburger-icon {
        content: "X";
    }
}

.internal-menu {
    width: 100%;
    padding: 4px 10px 4px 20px;
    margin: -10px 0 10px -20px;

    background: rgb(26, 26, 27);
}

.internal-menu > * {
    width: 2em;
    height: 1.5em;
    margin: 2px 2px;

    border: rgb(22, 22, 22) 3px solid;
    border-radius: 5px;
    
    background: rgb(26, 26, 27);
    color: rgba(255, 255, 255, 0.87);

    font-family: 'Ysabeau SC', sans-serif;
    font-size: 24px;
    
    text-decoration: none;
    text-transform: uppercase;

    transition: color 0.15s ease, box-shadow 0.25s ease-in;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.internal-menu > *:hover {
    color: #ffe59f;
    box-shadow: 0 0 3px #ffe59f;
    /* filter: drop-shadow(0 0 3px #ffe59f93) */
}
