@font-face {
    font-family: "Supercell";
    src: url("assets/rho/font.ttf");
}

/* Adapted from: https://clashroyalecardmaker.com/ */
.cr-button {
    position: relative;

    background: linear-gradient(to bottom,#FFD053 5%,#FFBC2B 100%);
    box-shadow:
        0 2px 3px 0 #ff8907,
        0 0 0 4px #ffa80c,
        0 1px 0 4px #ffa80c,
        0 -1px 2px 4px #ffd525,
        0 -2px 0 5px #f4e684,
        0 6px 0 4px #b06904,
        0 3px 0 5px #f4e684;
    color: #ffc;
    text-shadow:
        -1px 2px 0 #582d00,
        0 2px 0 #582d00,
        1px 2px 0 #582d00,
        -1px -1px 0 #582d00,
        1px -1px 0 #582d00,
        -1px 1px 0 #582d00,
        1px 1px 0 #582d00;
    border-radius: 3px;
    border: 0;

    font-size: 16px;
    font-family: "Supercell", Times, serif;
    padding: 0.75em;

    text-decoration: none;
    cursor: pointer;

    transition: 0.25s ease transform, 0.5s ease filter;
}

.cr-button::before {
    content: "";
    z-index: 0;

    position: absolute;
    top: calc(0.5 * -0.75em - 2px);
    left: calc(0.5 * -0.75em);

    width: calc(100% + 0.75em);
    height: calc(100% + 0.75em + 7px);

    border-radius: 8px;
    outline: 1.5px solid black;
}

.cr-button:hover {
    transform: scale(0.975);
}

.cr-button.green {
    filter: hue-rotate(67deg) saturate(110%) brightness(0.9);
}

.cr-button.red {
    background: #FC4144;
    box-shadow:
        0 0 3px 0 #FC4144,
        0 0 0 4px #E72424,
        0 1px 0 4px #E72424,
        0 -1px 2px 4px #FE4A5D,
        0 -2px 0 5px #EC8A95,
        0 6px 0 4px #9C1414,
        0 3px 0 5px #9C1414;
    color: #fff;
}